<div class="col-xs-12">
  <h2>User Management</h2>
  <div class="col-xs-12" *ngIf="errorMessage"><label class="text-danger">{{errorMessage}}</label></div>
  <div class="col-xs-12" *ngIf="successMessage"><label class="text-success">{{successMessage}}</label></div>

  <div class=" col-xs-12 panel panel-default">
          <div class="table-responsive">
              <table class="table table-striped " [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="10"  [(mfSortBy)]="sortBy" >
                <thead>
                                <tr>

                                    <th> <mfDefaultSorter by="lastName">Name</mfDefaultSorter> </th>
                                    <th> <mfDefaultSorter by="email">Email</mfDefaultSorter> </th>
                                    <th> <mfDefaultSorter by="role">Role</mfDefaultSorter> </th>
                                    <th> <mfDefaultSorter [by]="toInt">Mobile</mfDefaultSorter> </th>
                                    <th> Action </th>

                                </tr>

                                </thead>
                  <tbody>
                  <tr *ngFor="let user of mf.data">

                      <td>{{user.lastName}} {{user.firstName}}  </td>
                      <td>{{user.email}} </td>
                      <td>{{user.role}} </td>
                      <td>{{user.mobileNumber}} </td>
                      <td>
                        <button type="button" (click)="activateOrInactivateUser(user,true)" *ngIf="!user.isActive" class="btn btn-xs btn-success">Activate</button>
                        <button type="button" (click)="activateOrInactivateUser(user,false)" *ngIf="user.isActive" class="btn btn-xs btn-danger">Deactivate</button>

                      </td>

                  </tr>
                  </tbody>
                  <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>

              </table>
               </div>
   </div>


</div>
