<div class="col-xs-12">
  <h3>Profile</h3>
  <hr style="margin-top: 0px;margin-bottom: 15px;border-top: 2.5px solid #1abb9c;">
  <div class="col-xs-12" *ngIf="errorMessage"><label class="text-danger">{{errorMessage}}</label></div>
  <div class="col-xs-12" *ngIf="successMessage"><label class="text-success">{{successMessage}}</label></div>
  <form (ngSubmit)="submitProfile();" #personalDetails="ngForm">
  

      <div class="col-xs-12" *ngIf="!disableFields">
          <div class="form-group">
            <label for="categoryName"> Category <sup class="text-danger">*</sup></label>
            <select class="form-control" (change)="showSubCategories(0);" [(ngModel)]="selectedCategory" name="categoryName" required>
              <option>Select Category</option>
              <option *ngFor="let category of categories" [ngValue]="category" >
                {{category.categoryName}}
              </option>
            </select>
          </div>
    
    
          <ng-container *ngIf="selectedCategory!=='Select Category' || editFlag">
    
              <ng-container *ngFor="let subCategories of selectedCategory.subCategories; let i = index">
    
                  <div class="form-group col-xs-6" *ngIf="subCategoriesData[i]!==undefined && subCategoriesData[i].length>0">
                      <label for="subCategoryName{{i}}"> {{subCategories| titlecase}} <sup class="text-danger">*</sup></label>
                      <select class="form-control" (change)="showSubCategories(i+1);" [(ngModel)]="subCategoriesArray[i]" name="subCategoryName{{i}}" required>
                        <option>Select {{subCategories | titlecase}}</option>
                        <!-- <option>All</option> -->
                        <option *ngFor="let subCategory of subCategoriesData[i]" value="{{subCategory}}">
                          {{subCategory}}
                        </option>
                      </select>
                    </div>
                    <!-- <div class="col-xs-6" *ngIf="subCategoriesData[i]!==undefined && subCategoriesData[i].length===0">
                    <label class="text-success">You have subcribed all subcategories of {{subCategories}} </label>
                    </div> -->
    
              </ng-container>
    
              
              <div class="col-xs-12 text-center">
                  <button type="button" *ngIf="!editFlag" [disabled]="isSubCategoryValid()" (click)="addSubCategory();" class="btn btn-danger">ADD</button>
                  <button type="button" *ngIf="editFlag"  (click)="exitUpdate()" class="btn btn-danger">Exit Update</button>
                  <button type="button" *ngIf="editFlag" [disabled]="isSubCategoryValid()" (click)="addSubCategory();" class="btn btn-success">Update</button>
                  
              </div>
    
          </ng-container>
    
        
    
        </div>
       

    <div class="col-xs-12">
        <div class="form-group">
          <label for="subCategoryName"> Categories <sup class="text-danger">*</sup></label>
          <div class=" col-xs-12 panel panel-default" style="margin-top: 10px;">
              <div class="table-responsive">
                  <table class="table table-striped " [mfData]="selectedSubcategories" #mf="mfDataTable" >
                    <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Sub Category</th>
      
                                    </tr>
      
                                    </thead>
                      <tbody>
                      <tr *ngFor="let category of mf.data; let i = index" [attr.data-index]="i">
                        <td>{{category.categoryName}}</td>
                        <td>
                            <ng-container *ngFor="let row of category.rows;let j=index;">
                          <div class="subCategoryLabel" style=" display: -webkit-inline-box;"> 
                          
                              <ng-container *ngFor="let subCategories of category.subCategories; let i = index">
                                  {{row[subCategories]}}{{category.subCategories.length===(i+1)?"":"->"}}
                              </ng-container>
                          <span *ngIf="!disableFields" class="glyphicon glyphicon-remove-sign" (click)="removeSubCategory(category,j);"></span>
                          <span *ngIf="!disableFields" class="glyphicon glyphicon glyphicon-pencil" (click)="editSubCategory(category,i,j);"></span>
                            </div>
                        </ng-container>
                      </td>
                      </tr>
                      </tbody>
                      <tfoot>
                    
                    </tfoot>
      
                  </table>
                   </div>
       </div>
        </div>
      </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="mobileNumber">Mobile Number <sup class="text-danger">*</sup></label>
        <input type="number" [(ngModel)]="profileModel.mobileNumber" name="mobileNumber" [disabled]="disableFields" class="form-control" id="mobileNumber" placeholder="Mobile Number" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="street">Street <sup class="text-danger">*</sup></label>
        <input type="text" [(ngModel)]="profileModel.street" name="street" [disabled]="disableFields" class="form-control" id="street" placeholder="Street" required>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="city">City <sup class="text-danger">*</sup></label>
        <input type="text" [(ngModel)]="profileModel.city" name="city" [disabled]="disableFields" class="form-control" id="city" placeholder="City" required>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="state">State <sup class="text-danger">*</sup></label>
        <input type="text" [(ngModel)]="profileModel.state" name="state" [disabled]="disableFields" class="form-control" id="state" placeholder="State" required>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="zipCode">ZipCode <sup class="text-danger">*</sup></label>
        <input type="number" [(ngModel)]="profileModel.zipcode" name="zipcode" [disabled]="disableFields" class="form-control" id="zipCode" placeholder="ZipCode" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="alerts">Alerts On</label>
        <br>
        <label class="radio-inline">
          <input type="checkbox" [(ngModel)]="isEmailAlert" name="alertsOn1" [disabled]="disableFields" id="inlineRadio1" value="Email" > Email
        </label>
        <label class="radio-inline">
          <input type="checkbox" [(ngModel)]="isMobileAlert" name="alertsOn2" [disabled]="disableFields" id="inlineRadio2" value="Mobile" > Mobile
        </label>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <button type="button" (click)="disableFields=false;" *ngIf="disableFields" class="btn btn-primary">Edit</button>
      <button type="submit" [disabled]="!personalDetails.form.valid || !(isMobileAlert || isEmailAlert)" *ngIf="!disableFields"  class="btn btn-success">Update</button>
    </div>
  </form>

</div>
