<!DOCTYPE html>
<html>
  <head>
    <title>Recalls</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/custom.min.css" rel="stylesheet">
      <link href="css/dashboard.css" rel="stylesheet">
      <link href="css/home.css" rel="stylesheet">
  
  </head>

  <body>
    <app><span style="color: white;position: absolute;
    top: 45%;
    left: 45%;
    font-size: x-large;
    font-family: fantasy;"> Loading ...</span></app>
  </body>
  
  <script src="node_modules/tinymce/tinymce.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="dist/app.bundle.js"></script>
</html>
