<div class="col-xs-12 homePage"  style="background-color: #EDEDED;position:relative">

<div>
  <a class=" col-xs-6 homeLabels"  routerLinkActive="homeActive" [routerLink]="['./login']" style="color:white">Log In </a>
</div>
  <div>
    <a  class="col-xs-6 homeLabels"  routerLinkActive="homeActive" [routerLink]="['./registration']"  style="color:white">Sign Up </a>
  </div>
 
 
 <div class="col-xs-12" *ngIf="errorMessage"><label class="text-danger">{{errorMessage}}</label></div>
  <div class="col-xs-12" *ngIf="successMessage"><label class="text-success">{{successMessage}}</label></div>
 

  <router-outlet ></router-outlet>

<spinner-component [spinnerShow]="spinner"></spinner-component>



</div>
