<div class="col-xs-12">
  <h2>Recalls</h2>
  <div class="col-xs-12" *ngIf="errorMessage"><label class="text-danger">{{errorMessage}}</label></div>


  <div class="col-sm-3 col-xs-12">
    <div >
      <label for="fromDate"> From Date </label>
      <my-date-picker name="fromDate" [(ngModel)]="fromDate" required></my-date-picker>
    </div>
  </div>

  <div class="col-sm-3 col-xs-12">
    <div >
      <label for="toDate"> To Date</label>
      <my-date-picker name="toDate" [(ngModel)]="toDate" required></my-date-picker>
    </div>
  </div>

  <div class="col-sm-4  col-xs-12">
    <div >
      <label for="categoryName"> Category </label>
      <select class="form-control" [(ngModel)]="category"  name="categoryName">
        <option>All</option>
        <option *ngFor="let category of categories" value= {{category.categoryName}}>
          {{category.categoryName}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-sm-2  col-xs-12" style="margin-top: 24px;">
    <button type="button" (click)="getRecallsForFilter()" [disabled]="toDate==null || fromDate==null" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span></button>
  </div>


<div class="col-xs-12" style="padding: 0px;">
  <div class="col-sm-6 col-xs-12">
    <div class="form-group">
      Filter by title:
      <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Type text to filter"/>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group">
      Sort by :
      <select class="form-control" [(ngModel)]="sortBy">
        <option value="asc">Oldest to Newest</option>
        <option value="desc">Newest to Oldest</option>
      </select>
    </div>
  </div>
</div>
<div class="col-xs-12  table-responsive">
   <table class="table table-striped " [mfData]="recalls | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

      <tbody>
        <tr *ngFor="let recallModel of mf.data; let i = index" [attr.data-index]="i">
          <td style="padding: 0px;" >
                <div class="panel panel-default"  style="margin-bottom: 0px;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" style="text-decoration: none;">
                        {{recallModel.created_at | date: 'MMM dd, yyyy'}}: {{recallModel.title}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse{{i}}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="categoryName"> Category </label>
                          <p>{{recallModel.categoryName}}</p>
                        </div>
                      </div>

                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="categoryName"> Manufacturer </label>
                          <p>{{recallModel.manufacturer}}</p>
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="Summary"> Summary</label>
                          <p>{{recallModel.product}}</p>
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="Summary"> Summary </label>
                          <p>{{recallModel.summary}}</p>
                          </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="Description"> Description </label>
                          <p [innerHTML]="recallModel.description"> </p>
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="Hazard"> Hazard </label>
                          <p>{{recallModel.hazard}}</p>
                        </div>
                      </div>

                    </div>
                </div>
                </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
       <tr>
        <td >
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>

   </table>
   <div class="col-xs-12" *ngIf="successMessage"><label class="text-success">{{successMessage}}</label></div>

</div>

</div>
