<div class="col-xs-12">
  <h2>Sign Up</h2>
  <form (ngSubmit)="submitSignUp();" #personalDetails="ngForm">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="registrationModel.firstName" name="firstName" class="form-control" id="firstName" placeholder="First Name" required>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="registrationModel.lastName" name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="registrationModel.email" name="email" class="form-control" id="email" placeholder="Email" required>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="registrationModel.password" name="password" class="form-control" id="password" placeholder="Password" required>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" [(ngModel)]="registrationModel.confirmPassword" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="number" [(ngModel)]="registrationModel.mobileNumber" name="mobileNumber" class="form-control" id="mobileNumber" placeholder="Mobile Number" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" [(ngModel)]="registrationModel.street" name="street" class="form-control" id="street" placeholder="Street" required>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" [(ngModel)]="registrationModel.city" name="city" class="form-control" id="city" placeholder="City" required>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" [(ngModel)]="registrationModel.state" name="state" class="form-control" id="state" placeholder="State" required>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="zipCode">ZipCode</label>
        <input type="number" [(ngModel)]="registrationModel.zipcode" name="zipcode" class="form-control" id="zipCode" placeholder="ZipCode" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="alerts">Alerts On</label>
        <br>
        <label class="radio-inline">
          <input type="radio" [(ngModel)]="registrationModel.alertsOn" name="alertsOn" id="inlineRadio1" value="Email"> Email
        </label>
        <label class="radio-inline">
          <input type="radio" [(ngModel)]="registrationModel.alertsOn" name="alertsOn" id="inlineRadio2" value="Mobile"> Mobile
        </label>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <button type="submit" [disabled]="!personalDetails.form.valid" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>
